*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-underline-offset: none;
    text-decoration: none;
}
@font-face {
    font-family: shabnam;
    src: url('../font/Shabnam-Bold.eot') format('eot'), 
    url('../font/Shabnam-Bold.woff') format('woff'),
    url('../font/Shabnam-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.lin{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;

}
.backG{
    background-image: url(../img/sky.jpg);
    padding-top: 15px;
}
.vpnsymbol{
    text-align: left;
    width: 100px;
}
.shabnam{
    text-align: center;
    font-family: shabnam;
    color: aliceblue;
    margin: 20px 350px 10px 350px;
    font-size: 30px;
}
.head{
    padding-top: 50px;
    text-align: center;
    font-size: 150px;
    text-shadow: 9px 8px 9px rgb(231, 241, 255);
    
}
.animate{
    text-align: center;
    margin: 10px 500px 10px 500px;
    padding: 30px 20px 30px 20px;
    border-radius: 100%;

}
.animate:hover{
    background-color: rgb(216, 216, 216);
    animation-name: boxA;
    animation-duration: 1s;
}
@keyframes boxA {
    from {background-color: rgb(94, 94, 94);}
    to {background-color: rgb(216, 216, 216);}
}
.boxx1{
    text-align: center;
    margin: 10px 500px 10px 500px;
    padding: 30px 20px 30px 20px;
    border-radius: 100%;
}
.boxx1:hover{
    background-color: rgb(216, 216, 216);
    animation-name: boxx1;
    animation-duration: 1s;
}
@keyframes boxx1 {
    from {background-color: rgb(94, 94, 94);}
    to {background-color: rgb(216, 216, 216);}
}