*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-underline-offset: none;
    text-align: center;
}
.title{
    font-size: 50px;
}
img.title{
    vertical-align: middle;
}
.backG{
    background-image: url(../img/airplane.jpg);
}
@font-face {
    font-family: shabnam;
    src: url('../font/Shabnam-Bold.eot') format('eot'), 
    url('../font/Shabnam-Bold.woff') format('woff'),
    url('../font/Shabnam-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.matn{
    font-size: 35px;
    
}